body { 
  background-image: url('../img/background1080.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

#page-header,
#page-footer {
    z-index: -1;
    position: fixed;
    width: 100%;
    left: 0;
    background: #ccc;
    height: 
}

#page-header {
    top: 0;
    height: 17%;
}

#page-footer {
    bottom: 0;
    height: 150px;
}

#page-content {
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner {
    width: 550px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
}