body { 
  background-image: url('../img/background1080.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}


.wrapper {
  display: grid;
  grid-template-columns: auto 550px auto;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.container2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  flex: 1;     /* this is the key; consumes all available height */
 background: white;
}
header {
    /* dit is het te aanpassen getal */
  height: 300px;
background: white;
}
footer {
  height: 150px;
  background: white;
}

/*
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
*/

/*

#page-header,
#page-footer {
    z-index: -1;
    position: fixed;
    width: 100%;
    left: 0;
    background: #ccc;
    height: 
}

#page-header {
    top: 0;
    height: 17%;
}

#page-footer {
    bottom: 0;
    height: 150px;
}

#page-content {
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner {
    width: 550px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
}*/
